@font-face {
    font-family: Politico;
    font-weight: bold;
    src: url("../fonts/RedStateBlueStateBB_bold.otf") format("opentype");
}

*{
    margin: 0px;
    padding: 0xp;
}

.main{
    background: linear-gradient(to bottom,  #88bdbc 0%,#88bdbc 60%,#ffffff 40%,#ffffff 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Politico'
}

.top{
    width: 70%;
    height: 70%;
}

#app-title{
    font-size: 50px;
    color: #F2FEED;
}